* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body {
  background: #0f172a;
  color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 500px;
  background: #020617;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}
.quote {
  background: #020617;
  border: 1px solid #334155;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  min-height: 80px;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  outline: none;
  resize: none;
}
.info {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.result {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}
button {
  background: #3b82f6;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}
button:hover {
  background: #1d4ed8;
}
.correct {
  color: #22c55e; /* green */
}

.incorrect {
  color: #ef4444; /* red */
}

.active {
  text-decoration: underline;
}
